.error-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-icon {
    font-size: 5rem;
    color: #dc3545;
    margin-bottom: 1rem;
}
.error-btn {
    margin-top: 10px;
    background-color: #F5C518;
    color: #121212;
    border-radius: 18px;
}
.error-btn:hover {
    background-color: white;
}
.desc-label {
    color: white;
}